# Environments
.venv/
venv/
ENV/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# User uploads & temp files
plant_images/
static/uploaded_images/

# Editors and IDEs
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
